img {
  height: 75px;
  width: 100px;
  margin-bottom: 15px;
}

p{
  margin-bottom:5px;
}

.container{
  margin-top: 100px;
}

.input-field{
  margin-top: .5rem;
}

#feed-filter {
  margin-bottom: 25px;
}

.feed-item {
  list-style-type: none;
  border: solid 1px grey;
  padding: 10px;
}

.item-content{
  margin-top: 15px;
}

.data-title{
  display: inline;
  font-size: .75em;
  color: grey;
}